'atom-text-editor:not([mini])':
  'pageup'      : 'smooth-scroll:page-up'
  'pagedown'    : 'smooth-scroll:page-down'
  'alt-pageup'  : 'smooth-scroll:line-up'
  'alt-pagedown': 'smooth-scroll:line-down'
