'atom-text-editor:not([mini])':
  'shift-alt-pageup'  : 'smooth-scroll:increase-step'
  'shift-alt-pagedown': 'smooth-scroll:decrease-step'
  'alt-pageup'  : 'smooth-scroll:scroll-up'
  'alt-pagedown': 'smooth-scroll:scroll-down'
