'atom-text-editor:not([mini])':
  'ctrl-alt-pageup'  : 'smooth-scroll:increase-step-factor'
  'ctrl-alt-pagedown': 'smooth-scroll:decrease-step-factor'
  'alt-pageup'  : 'smooth-scroll:scroll-up'
  'alt-pagedown': 'smooth-scroll:scroll-down'
